<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">		
	
	<bean id="piano" class="aop.xml.Piano" autowire-candidate="false"/>
	<bean id="guitar" class="aop.xml.Guitar" autowire-candidate="false"/>
	<bean id="drum" class="aop.xml.Drum"/>
	<bean id="hong" class="aop.xml.Instrumentalist" autowire="byType">
		<property name="song" value="Hello"/>
	</bean>			
		
	<bean id="hello" class="aop.xml.Hello"/>
	<bean id="song" class="aop.xml.Bounce" primary="true"/>		
	<bean id="singer" class="aop.xml.Singer" autowire="byType">
		<property name="name" value="조용필"/>
	</bean>	
	
	<!-- 
	<bean id="audience" class="aop.xml.Audience"/>		
	<aop:config>
		<aop:aspect ref="audience">
			<aop:pointcut expression="execution( * aop.xml.Performer.perform( .. ) )" 
				id="perform"/>
			<aop:before pointcut-ref="perform" method="takeSeat"/>		
			<aop:before pointcut-ref="perform" method="turnOffPhone"/>		
			<aop:after-returning pointcut-ref="perform" method="applaud"/>	
			<aop:after-throwing pointcut-ref="perform" method="refund"/>	
			<aop:around pointcut-ref="perform" method="performance"/>
		</aop:aspect>
	</aop:config>	
	-->
		
	<bean id="mindReader" class="aop.xml.MindReader"/>
	<bean id="volunteer" class="aop.xml.Volunteer"/>	
	<aop:config>
		<aop:aspect ref="mindReader">
			<aop:pointcut expression="execution( * aop.xml.Thinker.thinking( String ) ) and args( thoughts )" 
				id="thinking"/>
			<aop:before pointcut-ref="thinking" method="intercept" arg-names="thoughts"/>				
		</aop:aspect>	
	</aop:config>		
		
		
</beans>



















